body {
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 11px;
	text-align: left;
}

h1 a {
	text-decoration: none;
	color: #3b5998;
}

h1 a:hover {
	text-decoration: underline;
}

label {
	padding-left: 1px;
	text-indent: -19px;
}

.chkbox {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: 0px;
    *overflow: hidden;
}